.css-settings-manager {
  --colorist-l-light: 1;
  --colorist-c-light: 0;
  --colorist-h-light: calc(var(--accent-h) + 25);
  --colorist-l-dark: 1;
  --colorist-c-dark: 0;
  --colorist-h-dark: calc(var(--accent-h) + 25);

  &.theme-light {
    --color-base-00: oklch(
      pow(var(--colorist-l-00), var(--colorist-l-light)) min(0.1, calc(var(--colorist-c-00) * var(--colorist-c-light))) var(--colorist-h-light)
    );
    --color-base-05: oklch(
      pow(var(--colorist-l-05), var(--colorist-l-light)) min(0.1, calc(var(--colorist-c-05) * var(--colorist-c-light))) var(--colorist-h-light)
    );
    --color-base-10: oklch(
      pow(var(--colorist-l-10), var(--colorist-l-light)) min(0.1, calc(var(--colorist-c-10) * var(--colorist-c-light))) var(--colorist-h-light)
    );
    --color-base-20: oklch(
      pow(var(--colorist-l-20), var(--colorist-l-light)) min(0.1, calc(var(--colorist-c-20) * var(--colorist-c-light))) var(--colorist-h-light)
    );
    --color-base-25: oklch(
      pow(var(--colorist-l-25), var(--colorist-l-light)) min(0.1, calc(var(--colorist-c-25) * var(--colorist-c-light))) var(--colorist-h-light)
    );
    --color-base-30: oklch(
      pow(var(--colorist-l-30), var(--colorist-l-light)) min(0.1, calc(var(--colorist-c-30) * var(--colorist-c-light))) var(--colorist-h-light)
    );
    --color-base-35: oklch(
      pow(var(--colorist-l-35), var(--colorist-l-light)) min(0.1, calc(var(--colorist-c-35) * var(--colorist-c-light))) var(--colorist-h-light)
    );
    --color-base-40: oklch(
      pow(var(--colorist-l-40), var(--colorist-l-light)) min(0.1, calc(var(--colorist-c-40) * var(--colorist-c-light))) var(--colorist-h-light)
    );
    --color-base-50: oklch(
      pow(var(--colorist-l-50), var(--colorist-l-light)) min(0.1, calc(var(--colorist-c-50) * var(--colorist-c-light))) var(--colorist-h-light)
    );
    --color-base-60: oklch(
      pow(var(--colorist-l-60), var(--colorist-l-light)) min(0.1, calc(var(--colorist-c-60) * var(--colorist-c-light))) var(--colorist-h-light)
    );
    --color-base-70: oklch(
      pow(var(--colorist-l-70), var(--colorist-l-light)) min(0.1, calc(var(--colorist-c-70) * var(--colorist-c-light))) var(--colorist-h-light)
    );
    --color-base-100: oklch(
      pow(var(--colorist-l-100), var(--colorist-l-light)) min(0.1, calc(var(--colorist-c-100) * var(--colorist-c-light))) var(--colorist-h-light)
    );

    &.color-scheme-accent {
      --color-accent: oklch(0.65 max(0.15, calc(var(--colorist-c-light) * 0.1)) var(--colorist-h-light));
      --color-accent-1: oklch(0.7 max(0.15, calc(var(--colorist-c-light) * 0.1)) var(--colorist-h-light));
      --color-accent-2: oklch(0.75 max(0.15, calc(var(--colorist-c-light) * 0.1)) var(--colorist-h-light));
    }
  }
  &.theme-dark {
    --color-base-00: oklch(
      pow(var(--colorist-l-00), calc(1 / var(--colorist-l-dark))) min(0.1, calc(var(--colorist-c-00) * var(--colorist-c-dark))) var(--colorist-h-dark)
    );
    --color-base-05: oklch(
      pow(var(--colorist-l-05), calc(1 / var(--colorist-l-dark))) min(0.1, calc(var(--colorist-c-05) * var(--colorist-c-dark))) var(--colorist-h-dark)
    );
    --color-base-10: oklch(
      pow(var(--colorist-l-10), calc(1 / var(--colorist-l-dark))) min(0.1, calc(var(--colorist-c-10) * var(--colorist-c-dark))) var(--colorist-h-dark)
    );
    --color-base-20: oklch(
      pow(var(--colorist-l-20), calc(1 / var(--colorist-l-dark))) min(0.1, calc(var(--colorist-c-20) * var(--colorist-c-dark))) var(--colorist-h-dark)
    );
    --color-base-25: oklch(
      pow(var(--colorist-l-25), calc(1 / var(--colorist-l-dark))) min(0.1, calc(var(--colorist-c-25) * var(--colorist-c-dark))) var(--colorist-h-dark)
    );
    --color-base-30: oklch(
      pow(var(--colorist-l-30), calc(1 / var(--colorist-l-dark))) min(0.1, calc(var(--colorist-c-30) * var(--colorist-c-dark))) var(--colorist-h-dark)
    );
    --color-base-35: oklch(
      pow(var(--colorist-l-35), calc(1 / var(--colorist-l-dark))) min(0.1, calc(var(--colorist-c-35) * var(--colorist-c-dark))) var(--colorist-h-dark)
    );
    --color-base-40: oklch(
      pow(var(--colorist-l-40), calc(1 / var(--colorist-l-dark))) min(0.1, calc(var(--colorist-c-40) * var(--colorist-c-dark))) var(--colorist-h-dark)
    );
    --color-base-50: oklch(
      pow(var(--colorist-l-50), calc(1 / var(--colorist-l-dark))) min(0.1, calc(var(--colorist-c-50) * var(--colorist-c-dark))) var(--colorist-h-dark)
    );
    --color-base-60: oklch(
      pow(var(--colorist-l-60), calc(1 / var(--colorist-l-dark))) min(0.1, calc(var(--colorist-c-60) * var(--colorist-c-dark))) var(--colorist-h-dark)
    );
    --color-base-70: oklch(
      pow(var(--colorist-l-70), calc(1 / var(--colorist-l-dark))) min(0.1, calc(var(--colorist-c-70) * var(--colorist-c-dark))) var(--colorist-h-dark)
    );
    --color-base-100: oklch(
      pow(var(--colorist-l-100), calc(1 / var(--colorist-l-dark))) min(0.1, calc(var(--colorist-c-100) * var(--colorist-c-dark))) var(--colorist-h-dark)
    );

    &.color-scheme-accent {
      --color-accent: oklch(0.65 max(0.15, calc(var(--colorist-c-dark) * 0.1)) var(--colorist-h-dark));
      --color-accent-1: oklch(0.8 max(0.15, calc(var(--colorist-c-dark) * 0.1)) var(--colorist-h-dark));
      --color-accent-2: oklch(0.95 max(0.15, calc(var(--colorist-c-dark) * 0.1)) var(--colorist-h-dark));
    }
  }
}

// Cupertino
body:is(.mod-macos, .adaptive-mode-off).theme-light {
  --colorist-l-light: 1;
  --colorist-h-light: 285;

  --color-red-rgb: 255, 56, 60;
  --color-orange-rgb: 255, 141, 40;
  --color-yellow-rgb: 255, 204, 0;
  --color-green-rgb: 52, 199, 89;
  --color-cyan-rgb: 0, 192, 232;
  --color-blue-rgb: 0, 136, 255;
  --color-purple-rgb: 203, 48, 224;
  --color-pink-rgb: 255, 45, 85;

  --color-red: #ff383c;
  --color-orange: #ff8d28;
  --color-yellow: #ffcc00;
  --color-green: #34c759;
  --color-cyan: #00c0e8;
  --color-blue: #0088ff;
  --color-purple: #cb30e0;
  --color-pink: #ff2d55;

  &:not(.is-mobile) {
    --colorist-c-light: 0;

    --colorist-l-00: 1;
    --colorist-l-05: 0.99;
    --colorist-l-10: 0.975;
    --colorist-l-20: 0.96;
    --colorist-l-25: 0.95;
    --colorist-l-30: 0.94;
    --colorist-l-35: 0.91;
    --colorist-l-40: 0.87;
    --colorist-l-50: 0.8;
    --colorist-l-60: 0.67;
    --colorist-l-70: 0.5;
    --colorist-l-100: 0.27;

    --colorist-c-00: 0;
    --colorist-c-05: 0;
    --colorist-c-10: 0;
    --colorist-c-20: 0;
    --colorist-c-25: 0;
    --colorist-c-30: 0;
    --colorist-c-35: 0;
    --colorist-c-40: 0;
    --colorist-c-50: 0;
    --colorist-c-60: 0;
    --colorist-c-70: 0;
    --colorist-c-100: 0;

    --background-secondary-alt: var(--color-base-30);
  }

  &.is-mobile {
    --colorist-c-light: 1;

    --colorist-l-00: 1;
    --colorist-l-05: 0.99;
    --colorist-l-10: 0.98;
    --colorist-l-20: 0.96;
    --colorist-l-25: 0.94;
    --colorist-l-30: 0.92;
    --colorist-l-35: 0.89;
    --colorist-l-40: 0.86;
    --colorist-l-50: 0.82;
    --colorist-l-60: 0.73;
    --colorist-l-70: 0.64;
    --colorist-l-100: 0;

    --colorist-c-00: 0;
    --colorist-c-05: 0;
    --colorist-c-10: 0;
    --colorist-c-20: 0.0075;
    --colorist-c-25: 0.0075;
    --colorist-c-30: 0.0075;
    --colorist-c-35: 0.0075;
    --colorist-c-40: 0.0075;
    --colorist-c-50: 0;
    --colorist-c-60: 0;
    --colorist-c-70: 0;
    --colorist-c-100: 0;

    --background-primary-alt: var(--color-base-20);
    --background-secondary-alt: var(--color-base-00);
    --interactive-normal: oklch(from var(--color-base-70) calc(l - 0.08) 0.01 h / 12%);
    --interactive-hover: oklch(from var(--color-base-70) calc(l - 0.1) c h / 20%);
  }
}
body:is(.mod-macos, .adaptive-mode-off).theme-dark {
  --colorist-l-dark: 1;
  --colorist-h-dark: 285;

  --color-red-rgb: 255, 66, 69;
  --color-orange-rgb: 255, 146, 48;
  --color-yellow-rgb: 255, 214, 0;
  --color-green-rgb: 48, 209, 88;
  --color-cyan-rgb: 60, 211, 254;
  --color-blue-rgb: 0, 145, 255;
  --color-purple-rgb: 107, 52, 242;
  --color-pink-rgb: 255, 55, 95;

  --color-red: #ff4245;
  --color-orange: #ff9230;
  --color-yellow: #ffd600;
  --color-green: #30d158;
  --color-cyan: #3cd3fe;
  --color-blue: #0091ff;
  --color-purple: #6b34f2;
  --color-pink: #ff375f;

  &:not(.is-mobile) {
    --colorist-c-dark: 0;

    --colorist-l-00: 0.235;
    --colorist-l-05: 0.25;
    --colorist-l-10: 0.26;
    --colorist-l-20: 0.27;
    --colorist-l-25: 0.295;
    --colorist-l-30: 0.31;
    --colorist-l-35: 0.34;
    --colorist-l-40: 0.39;
    --colorist-l-50: 0.45;
    --colorist-l-60: 0.56;
    --colorist-l-70: 0.69;
    --colorist-l-100: 0.9;

    --colorist-c-00: 0;
    --colorist-c-05: 0;
    --colorist-c-10: 0;
    --colorist-c-20: 0;
    --colorist-c-25: 0;
    --colorist-c-30: 0;
    --colorist-c-35: 0;
    --colorist-c-40: 0;
    --colorist-c-50: 0;
    --colorist-c-60: 0;
    --colorist-c-70: 0;
    --colorist-c-100: 0;
  }

  &.is-mobile {
    --colorist-c-dark: 1;

    --colorist-l-00: 0;
    --colorist-l-05: 0.1;
    --colorist-l-10: 0.17;
    --colorist-l-20: 0.23;
    --colorist-l-25: 0.26;
    --colorist-l-30: 0.29;
    --colorist-l-35: 0.32;
    --colorist-l-40: 0.35;
    --colorist-l-50: 0.4;
    --colorist-l-60: 0.52;
    --colorist-l-70: 0.64;
    --colorist-l-100: 1;

    --colorist-c-00: 0;
    --colorist-c-05: 0;
    --colorist-c-10: 0;
    --colorist-c-20: 0.005;
    --colorist-c-25: 0.005;
    --colorist-c-30: 0.005;
    --colorist-c-35: 0.005;
    --colorist-c-40: 0.005;
    --colorist-c-50: 0;
    --colorist-c-60: 0;
    --colorist-c-70: 0;
    --colorist-c-100: 0;

    --background-primary-alt: var(--color-base-20);
    --interactive-normal: oklch(from var(--color-base-70) calc(l - 0.08) 0.01 h / 24%);
    --interactive-hover: oklch(from var(--color-base-70) calc(l - 0.1) c h / 36%);
  }
}

// Material
.is-android:not(.adaptive-mode-off).material-color.theme-light {
  --colorist-l-light: 1;
  --colorist-c-light: 1;
  --colorist-h-light: calc(var(--accent-h) + 25);

  --colorist-l-00: 0.97;
  --colorist-l-05: 0.96;
  --colorist-l-10: 0.96;
  --colorist-l-20: 0.95;
  --colorist-l-25: 0.94;
  --colorist-l-30: 0.92;
  --colorist-l-35: 0.9;
  --colorist-l-40: 0.88;
  --colorist-l-50: 0.76;
  --colorist-l-60: 0.56;
  --colorist-l-70: 0.48;
  --colorist-l-100: 0.24;

  --colorist-c-00: 0.01;
  --colorist-c-05: 0.01;
  --colorist-c-10: 0.02;
  --colorist-c-20: 0.02;
  --colorist-c-25: 0.02;
  --colorist-c-30: 0.02;
  --colorist-c-35: 0.02;
  --colorist-c-40: 0.02;
  --colorist-c-50: 0.03;
  --colorist-c-60: 0.03;
  --colorist-c-70: 0.03;
  --colorist-c-100: 0.02;

  --color-red: oklch(
    from color-mix(in srgb, rgb(var(--color-red-rgb)), oklch(var(--colorist-l-light) var(--colorist-c-light) var(--colorist-h-light)) 5%) max(l, 0.8)
      min(c, 0.1) h
  );
  --color-orange: oklch(
    from color-mix(in srgb, rgb(var(--color-orange-rgb)), oklch(var(--colorist-l-light) var(--colorist-c-light) var(--colorist-h-light)) 5%) max(l, 0.8)
      min(c, 0.1) h
  );
  --color-yellow: oklch(
    from color-mix(in srgb, rgb(var(--color-yellow-rgb)), oklch(var(--colorist-l-light) var(--colorist-c-light) var(--colorist-h-light)) 5%) max(l, 0.8)
      min(c, 0.1) h
  );
  --color-green: oklch(
    from color-mix(in srgb, rgb(var(--color-green-rgb)), oklch(var(--colorist-l-light) var(--colorist-c-light) var(--colorist-h-light)) 5%) max(l, 0.8)
      min(c, 0.1) h
  );
  --color-cyan: oklch(
    from color-mix(in srgb, rgb(var(--color-cyan-rgb)), oklch(var(--colorist-l-light) var(--colorist-c-light) var(--colorist-h-light)) 5%) max(l, 0.8)
      min(c, 0.1) h
  );
  --color-blue: oklch(
    from color-mix(in srgb, rgb(var(--color-blue-rgb)), oklch(var(--colorist-l-light) var(--colorist-c-light) var(--colorist-h-light)) 5%) max(l, 0.8)
      min(c, 0.1) h
  );
  --color-purple: oklch(
    from color-mix(in srgb, rgb(var(--color-purple-rgb)), oklch(var(--colorist-l-light) var(--colorist-c-light) var(--colorist-h-light)) 5%) max(l, 0.8)
      min(c, 0.1) h
  );
  --color-pink: oklch(
    from color-mix(in srgb, rgb(var(--color-pink-rgb)), oklch(var(--colorist-l-light) var(--colorist-c-light) var(--colorist-h-light)) 5%) max(l, 0.8)
      min(c, 0.1) h
  );

  --color-accent: oklch(0.65 max(0.15, calc(var(--colorist-c-light) * 0.1)) calc(var(--colorist-h-light) + 45));
  --color-accent-1: oklch(0.7 max(0.15, calc(var(--colorist-c-light) * 0.1)) calc(var(--colorist-h-light) + 60));
  --color-accent-2: oklch(0.75 max(0.15, calc(var(--colorist-c-light) * 0.1)) calc(var(--colorist-h-light) + 60));
}
body.is-android:not(.adaptive-mode-off).material-color.theme-dark {
  --colorist-l-dark: 1;
  --colorist-c-dark: 1;
  --colorist-h-dark: calc(var(--accent-h) + 25);

  --colorist-l-00: 0.2;
  --colorist-l-05: 0.22;
  --colorist-l-10: 0.24;
  --colorist-l-20: 0.26;
  --colorist-l-25: 0.28;
  --colorist-l-30: 0.3;
  --colorist-l-35: 0.34;
  --colorist-l-40: 0.38;
  --colorist-l-50: 0.58;
  --colorist-l-60: 0.66;
  --colorist-l-70: 0.74;
  --colorist-l-100: 0.9;

  --colorist-c-00: 0.025;
  --colorist-c-05: 0.025;
  --colorist-c-10: 0.025;
  --colorist-c-20: 0.03;
  --colorist-c-25: 0.035;
  --colorist-c-30: 0.04;
  --colorist-c-35: 0.045;
  --colorist-c-40: 0.05;
  --colorist-c-50: 0.05;
  --colorist-c-60: 0.05;
  --colorist-c-70: 0.05;
  --colorist-c-100: 0.04;

  --color-red: oklch(
    from color-mix(in srgb, rgb(var(--color-red-rgb)), oklch(var(--colorist-l-dark) var(--colorist-c-dark) var(--colorist-h-dark)) 5%) min(l, 0.68) min(c, 0.12)
      h
  );
  --color-orange: oklch(
    from color-mix(in srgb, rgb(var(--color-orange-rgb)), oklch(var(--colorist-l-dark) var(--colorist-c-dark) var(--colorist-h-dark)) 5%) min(l, 0.68)
      min(c, 0.12) h
  );
  --color-yellow: oklch(
    from color-mix(in srgb, rgb(var(--color-yellow-rgb)), oklch(var(--colorist-l-dark) var(--colorist-c-dark) var(--colorist-h-dark)) 5%) min(l, 0.68)
      min(c, 0.12) h
  );
  --color-green: oklch(
    from color-mix(in srgb, rgb(var(--color-green-rgb)), oklch(var(--colorist-l-dark) var(--colorist-c-dark) var(--colorist-h-dark)) 5%) min(l, 0.68)
      min(c, 0.12) h
  );
  --color-cyan: oklch(
    from color-mix(in srgb, rgb(var(--color-cyan-rgb)), oklch(var(--colorist-l-dark) var(--colorist-c-dark) var(--colorist-h-dark)) 5%) min(l, 0.68)
      min(c, 0.12) h
  );
  --color-blue: oklch(
    from color-mix(in srgb, rgb(var(--color-blue-rgb)), oklch(var(--colorist-l-dark) var(--colorist-c-dark) var(--colorist-h-dark)) 5%) min(l, 0.68)
      min(c, 0.12) h
  );
  --color-purple: oklch(
    from color-mix(in srgb, rgb(var(--color-purple-rgb)), oklch(var(--colorist-l-dark) var(--colorist-c-dark) var(--colorist-h-dark)) 5%) min(l, 0.68)
      min(c, 0.12) h
  );
  --color-pink: oklch(
    from color-mix(in srgb, rgb(var(--color-pink-rgb)), oklch(var(--colorist-l-dark) var(--colorist-c-dark) var(--colorist-h-dark)) 5%) min(l, 0.68)
      min(c, 0.12) h
  );

  --color-accent: oklch(0.65 max(0.15, calc(var(--colorist-c-dark) * 0.1)) calc(var(--colorist-h-dark) + 45));
  --color-accent-1: oklch(0.8 max(0.15, calc(var(--colorist-c-dark) * 0.1)) calc(var(--colorist-h-dark) + 60));
  --color-accent-2: oklch(0.95 max(0.15, calc(var(--colorist-c-dark) * 0.1)) calc(var(--colorist-h-dark) + 60));
}
