body {
  --prompt-input-height: 64px;
  --prompt-background: var(--modal-background);
  --prompt-border-width: 0px;
  --prompt-max-height: 60vh;
}

body:not(.is-mobile) {
  .prompt {
    top: 10rem;
    border-radius: var(--menu-radius);
  }
  .prompt .suggestion-item {
    padding: 8px 12px;
    align-items: center;
  }
}

body:not(.is-phone) {
  .prompt-input {
    background-color: transparent;
    padding: 20px;
  }
  .prompt-results {
    padding: 8px;
  }
  .prompt .suggestion-item {
    font-size: var(--font-ui-small);
  }
}

body.is-mobile {
  --prompt-background: var(--modal-background);
}

body.is-phone {
  .prompt {
    border-radius: var(--radius-l) var(--radius-l) 0 0;
  }
  .prompt-results {
    padding: var(--safe-area-inset-side);
  }
  .prompt-input-container {
    width: auto;
    margin: auto var(--safe-area-inset-side) var(--keyboard-spacing);
  }
  .prompt-input {
    background-color: var(--background-modifier-form-field);
  }
  .prompt .suggestion-item {
    padding: calc(16px * var(--density-modifier)) 16px;
  }
}

body.is-tablet {
  --prompt-input-height: 64px;

  .prompt {
    border-radius: var(--modal-radius);
  }
  .prompt .suggestion-item {
    padding: calc(12px * var(--density-modifier)) 16px;
  }
}
