body {
  --setting-group-heading-color: var(--text-muted);
  --setting-group-heading-size: var(--font-ui-small);
  --setting-group-heading-weight: var(--font-medium);
  --setting-items-background: var(--background-secondary);
  --setting-items-border-color: var(--background-modifier-hover);
  --setting-items-radius: var(--radius-m);
  --setting-items-padding-y: calc(16px * var(--density-modifier));
  --setting-items-divider-width: var(--border-width);

  .modal.mod-sidebar-layout {
    .vertical-tab-header-group-container:hover,
    .vertical-tab-content:hover {
      will-change: transform;
    }

    .vertical-tab-header {
      border-right: none;
      background-color: transparent;
      min-width: 150px;
    }
    .vertical-tab-nav-item-icon {
      color: inherit;
    }

    .setting-item-heading {
      border: none;
    }
    .setting-item-info {
      margin-block: auto;
      display: flex;
      gap: 4px;
      flex-direction: column;
    }
    .setting-item-name {
      overflow: visible;
    }
    .setting-item-description {
      padding-top: 0;
    }

    .setting-group.mod-list {
      --setting-items-padding-x: inherit;
      --setting-items-padding-y: inherit;
    }
  }
}

body.mod-macos:not(.is-mobile) .mod-settings {
  --dropdown-background: var(--interactive-normal);
  --dropdown-icon-background: transparent;
  --dropdown-text-align: start;
}

// Popout modal (Settings)
body:not(.is-mobile).is-popout-modal .modal {
  animation: none !important;
}
body.is-frameless:not(.is-mobile).is-popout-modal {
  --titlebar-height: 40px;
  --traffic-lights-offset-x: 48px;
  --traffic-lights-offset-y: 56px;

  padding-top: 0px !important;

  .titlebar {
    background-color: transparent;
    border: none;
    z-index: 1;
  }
  .titlebar-text {
    display: none;
  }
  .modal.mod-sidebar-layout {
    -webkit-app-region: unset;
  }
  &.mod-macos .vertical-tab-header {
    padding-top: var(--titlebar-height);
  }

  .community-modal-search {
    margin-left: var(--frame-left-space);
  }
}

body:not(.is-phone) {
  .modal.mod-sidebar-layout {
    .vertical-tab-header-group-title,
    .vertical-tab-nav-item {
      padding: calc(8px * var(--density-modifier)) 12px;
      align-items: center;
      font-size: var(--font-ui-small);
      border-radius: var(--radius-s);
      line-height: normal;
    }
    .vertical-tab-nav-item:hover {
      background-color: var(--background-modifier-hover);
    }

    .vertical-tab-content {
      background-color: transparent;
    }
    .vertical-tab-content[style*="transform: translateX(-20%)"] {
      opacity: 0;
    }

    .setting-page-titlebar {
      background-color: transparent;
      border: none;
      box-shadow: none;
      padding-block: 12px;
    }

    .setting-group-search {
      padding: 0 0 8px;
      background-color: transparent;
      border: none;
    }
    .setting-group-search + .setting-items {
      border-radius: var(--setting-items-radius);
      border: var(--setting-items-border-width) solid var(--setting-items-border-color);
    }

    .search-input-container {
      margin: 0;
    }
    .setting-group-search-control {
      margin: 0;
      padding: 0;
    }
    .setting-group-filter {
      height: var(--input-height);
      align-items: center;
      display: flex;
      padding: 16px;
      font-weight: var(--input-font-weight);
      border: none;
    }
    .setting-group-filter:hover {
      color: var(--text-muted);
    }
    .setting-group-filter.is-active {
      background-color: var(--background-modifier-hover);
      border-color: var(--interactive-accent);
      color: var(--text-normal);
    }
  }

  .modal.mod-community-modal {
    background-color: var(--settings-background, var(--modal-background));

    .modal-sidebar {
      padding: 0;
    }
    .community-modal-controls {
      display: flex;
      row-gap: 8px;
      flex-wrap: wrap;
      align-items: center;
      padding: 12px;
      width: 100%;
      height: auto;
    }
    .modal-sidebar:not(:only-child) .community-modal-controls .setting-item {
      width: 100%;
      margin-right: 0;
    }
    .community-modal-controls .setting-item {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
    }
    .community-modal-controls .setting-item:first-child {
      margin-right: auto;
    }
    .community-modal-controls .setting-item.mod-toggle {
      margin-right: 48px;
    }
    .community-modal-controls .setting-item:first-child .setting-item-info,
    .community-modal-search-summary {
      display: none;
    }
    .community-modal-search-results {
      gap: 8px;
    }
    .community-modal-search {
      padding: 0;
      margin: 0;
    }
    .community-item {
      border: none;
    }
    .community-modal-search {
      padding: 0;
      margin: 0;
    }
    .community-item {
      border: none;
    }
    .community-item:not(.is-selected) {
      background-color: var(--setting-items-background);
    }
  }
}

body.is-phone {
  .modal.mod-sidebar-layout {
    --modal-header-height: calc(var(--modal-header-inset-top) + var(--touch-size-m) + var(--modal-header-inset-top)) !important;
    --modal-header-inset-top: 12px;
    box-shadow: none;

    .modal-header {
      align-items: center;
      padding: 0;
    }
    .modal-title {
      display: flex;
      align-items: center;
    }
    .modal-setting-back-button {
      bottom: unset;
    }

    .vertical-tab-header-group-title {
      display: none;
    }
  }
}

body.is-tablet .modal.mod-sidebar-layout {
  .vertical-tab-header-group-title,
  .vertical-tab-nav-item {
    padding: calc(12px * var(--density-modifier)) 16px;
  }
}

body:is(.mod-macos, .adaptive-mode-off, .is-android:not(.adaptive-mode-off)) {
  .modal.mod-settings .vertical-tab-nav-item {
    &[data-setting-id="editor"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-blue);
    }
    &[data-setting-id="mobile"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-blue);
    }
    &[data-setting-id="appearance"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-purple);
    }
    &[data-setting-id="file"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-orange);
    }
    &[data-setting-id="interface"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-pink);
    }
    &[data-setting-id="hotkeys"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-red);
    }
    &[data-setting-id="keychain"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-green);
    }
    &[data-setting-id="plugins"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-cyan);
    }
    &[data-setting-id="community-plugins"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-blue);
    }
    &[data-setting-id="backlink"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-purple);
    }
    &[data-setting-id="canvas"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-red);
    }
    &[data-setting-id="daily-notes"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-red);
    }
    &[data-setting-id="file-recovery"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-green);
    }
    &[data-setting-id="note-composer"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-cyan);
    }
    &[data-setting-id="page-preview"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-blue);
    }
    &[data-setting-id="switcher"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-purple);
    }
    &[data-setting-id="sync"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-green);
    }
    &[data-setting-id="templates"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-blue);
    }
    &[data-setting-id="zk-prefixer"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-orange);
    }
    &[data-setting-id="webviewer"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-blue);
    }
  }
}
