body {
  --input-height: 32px;
  --input-transition: var(--anim-duration-superfast), box-shadow var(--anim-duration-fast);
  --button-transition: var(--input-transition), scale var(--anim-duration-fast) var(--anim-motion-baseline);

  --hotkey-radius: var(--radius-s);
  --hotkey-corner-shape: var(--corner-shape);

  /* 0 when <1, 1 when >=1 */
  --radius-modifier-check: clamp(0, (var(--radius-modifier) - 1) * 10000 + 1, 1);
  --button-radius: calc((8px * var(--radius-modifier)) * (1 - var(--radius-modifier-check)) + 100vh * var(--radius-modifier-check));

  --radius-modifier: 1;
  --radius-s: calc(8px * var(--radius-modifier));
  --radius-m: calc(16px * var(--radius-modifier));
  --radius-l: calc(24px * var(--radius-modifier));
  --radius-xl: calc(32px * var(--radius-modifier));
  --radius-window: 8px;

  &.obsidian-app {
    --clickable-icon-radius: var(--radius-s);
    --input-radius: var(--radius-s);
    --search-input-radius: var(--input-radius);
    --search-input-corner-shape: var(--corner-shape);

    .search-input-container {
      corner-shape: var(--search-input-corner-shape);
    }
  }

  // Dropdown
  --dropdown-padding-start: var(--font-ui-small);

  // Toggle
  &.obsidian-app {
    --toggle-thumb-color: #fff;
    --toggle-border-width: 2px;
    --toggle-s-border-width: var(--toggle-border-width);
    --toggle-s-thumb-height: var(--toggle-thumb-height);
    --toggle-s-thumb-width: var(--toggle-thumb-width);
    --toggle-s-width: var(--toggle-width);
  }
  &:not(.is-mobile) {
    --toggle-thumb-height: 16px;
    --toggle-thumb-width: 16px;
    --toggle-width: 32px;

    // Slider
    --slider-thumb-y: -5px;
    --slider-thumb-height: 16px;
    --slider-thumb-width: 16px;
    --slider-track-height: 2px;
  }
  &.is-mobile {
    --toggle-thumb-height: 24px;
    --toggle-thumb-width: 24px;
    --toggle-width: 48px;
  }
}

// Button
button:where(:not(.clickable-icon, .ant-switch, .workspace-leaf-content:not([data-type="markdown"]) button, .copy-code-button)) {
  padding: var(--font-ui-small);
  display: inline-flex;
}

.clickable-icon {
  corner-shape: round;
  padding: 8px;
}

// Toggle
.obsidian-app .checkbox-container {
  transition: var(--anim-duration-fast);
  box-shadow: none;

  &::after {
    box-shadow: none;
    transition:
      var(--anim-duration-moderate) var(--anim-motion-baseline),
      background-color 0s;
  }
  &:active:after {
    box-shadow: none;
    width: calc(var(--toggle-thumb-width) + var(--toggle-border-width));
    height: var(--toggle-thumb-height);
    margin-top: var(--toggle-border-width);
  }
  &.is-enabled:active:after {
    left: calc(-1 * var(--toggle-border-width));
  }
}

// Slider
input[type="range"]::-webkit-slider-thumb {
  box-shadow: none;
}
.slider-value {
  color: var(--text-faint);
}

// Hotkey
.empty-state-hotkey,
.setting-hotkey,
.suggestion-hotkey {
  color: var(--text-muted);
  font-size: var(--font-ui-smaller);
  font-weight: var(--input-font-weight);
}
