body:is(.mod-macos, .adaptive-mode-off) {
  --setting-nav-icon-background: var(--color-base-60);

  .modal.mod-settings .vertical-tab-nav-item {
    .vertical-tab-nav-item-icon {
      --icon-size: var(--icon-xs);
      --icon-stroke: var(--icon-xs-stroke-width);
      box-shadow: var(--shadow-edges);
      border-radius: 6px;
      background-image: linear-gradient(
        oklch(from var(--setting-nav-icon-background) calc(l * 1.075) c h),
        oklch(from var(--setting-nav-icon-background) calc(l * 0.975) c h)
      );
      background-color: var(--setting-nav-icon-background);
      padding: 4px;
      color: var(--setting-nav-icon-color, white);
    }

    &[data-setting-id="canvas"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-color: var(--color-red);
      --setting-nav-icon-background: var(--color-base-10) !important;
    }
    &[data-setting-id="community-plugins"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-color: var(--color-blue);
      --setting-nav-icon-background: var(--color-base-10) !important;
    }
    &[data-setting-id="command-palette"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: #242424;
    }
    &[data-setting-id="sync"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-color: var(--color-green);
      --setting-nav-icon-background: var(--color-base-10) !important;
    }
    &[data-setting-id="webviewer"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-color: var(--color-blue);
      --setting-nav-icon-background: var(--color-base-10) !important;
    }
  }
}

body:is(.mod-macos, .adaptive-mode-off):not(.is-mobile) {
  --settings-background: var(--background-primary);
  --setting-items-padding-x: var(--side-padding);
  --setting-items-padding-y: calc(12px * var(--density-modifier));
  --setting-group-heading-color: var(--text-normal);

  &.theme-light {
    --setting-items-background: var(--background-primary-alt);
  }

  .modal.mod-settings {
    .vertical-tab-nav-item.is-active {
      --text-normal: var(--text-on-accent);
      color: var(--text-on-accent);
      background-color: var(--interactive-accent);
      font-weight: calc(var(--font-weight) + var(--bold-modifier));
    }
    .vertical-tab-nav-item:not(.is-active):hover {
      background-color: transparent;
    }
    .vertical-tab-header-group-title,
    .vertical-tab-nav-item {
      padding: 6px 8px;
    }

    .setting-group-search + .setting-items {
      border-radius: var(--setting-items-radius);
    }

    .setting-item:not(.setting-item-heading, .setting-items .setting-item) {
      padding: var(--setting-items-padding-y) var(--setting-items-padding-x);
    }
  }
}

body:is(.mod-macos, .adaptive-mode-off):not(.is-phone) .modal.mod-settings {
  .vertical-tab-header {
    border-radius: calc(var(--modal-radius) - 1px) 0 0 calc(var(--modal-radius) - 1px);
    margin: var(--border-width) 0 var(--border-width) var(--border-width);
  }
  .vertical-tab-content-container {
    margin: var(--border-width) var(--border-width) var(--border-width) 0;
  }
}

body:is(.mod-macos, .adaptive-mode-off).is-mobile {
  .modal.mod-settings .vertical-tab-nav-item .vertical-tab-nav-item-icon {
    padding: 5px;
    border-radius: 8px;
    margin-left: -2px;
    margin-inline-end: 14px;
  }
}

body:is(.mod-macos, .adaptive-mode-off).is-phone {
  --setting-items-radius: var(--radius-m);
  --setting-group-heading-size: var(--font-ui-medium);

  .modal.mod-sidebar-layout {
    --modal-radius: var(--radius-xl) var(--radius-xl) 0 0;
    --modal-header-inset-top: 16px;
    max-height: calc(100% - var(--safe-area-inset-top));

    .modal-setting-back-button svg.svg-icon,
    .modal-header-button svg.svg-icon {
      --icon-size: 30px;
    }
    .modal-header-button {
      top: var(--modal-header-inset-top);
      inset-inline-end: var(--modal-header-inset-top);
    }

    .vertical-tab-header,
    .vertical-tab-content {
      padding-top: var(--modal-header-height);
    }

    .vertical-tab-nav-item {
      height: var(--touch-size-xl);
    }
    .vertical-tab-nav-item-title {
      line-height: var(--touch-size-xl);
    }
  }
  .modal.mod-community-modal {
    .modal-header {
      position: absolute;
    }
    .modal-title {
      height: calc(var(--touch-size-m) + 32px);
    }

    .modal-content .modal-sidebar,
    .modal-content .community-modal-info {
      padding-top: calc(var(--touch-size-m) + 32px);
      border-radius: var(--modal-radius);
    }
  }
}

body:is(.mod-macos, .adaptive-mode-off).is-tablet {
  --setting-items-padding: calc(16px * var(--density-modifier)) var(--side-padding);

  .modal.mod-settings {
    .vertical-tab-header-group-title {
      display: none;
    }
    .vertical-tab-nav-item {
      padding: calc(12px * var(--density-modifier)) var(--side-padding);
      border-radius: var(--radius-l);
      font-size: var(--font-ui-medium);
    }
    .vertical-tab-nav-item.is-active {
      font-weight: calc(var(--font-weight) + var(--bold-modifier));
    }
  }
}
