body:is(.mod-macos, .adaptive-mode-off) {
  --side-padding: 20px;

  --input-shadow: none;
  --input-shadow-hover: none;

  --input-height: 24px;
  --input-radius: var(--radius-s);
  --button-radius: var(--input-radius);
  --clickable-icon-radius: 100vh;

  --interactive-normal: hsl(from var(--mono-100) h s l / 5%);
  --interactive-hover: hsl(from var(--mono-100) h s l / 5%);

  --blur-radius-s: 2px;
  --blur-radius-m: 4px;
  --blur-radius-l: 8px;

  --raised-mask: linear-gradient(#ffffffbf, #ffffffbf) padding-box, linear-gradient(white, white) border-box;
  --raised-mask-border-width: 0px !important;
  --raised-mask-background: linear-gradient(transparent, white 35%, white 65%, transparent);

  --shadow-extra: 0 0 transparent;

  &.theme-light {
    --blur-background: hsl(0 0% 95% / 0.5);
    --raised-background: linear-gradient(
      to bottom,
      color-mix(in oklch, var(--blur-background), white 25%),
      var(--blur-background) 25%,
      var(--blur-background) 50%,
      color-mix(in oklch, var(--blur-background), white 25%)
    );

    --shadow-edges:
      var(--shadow-extra), 0 0 0 0.5pt hsl(0 0% 0% / 0.075), -1px 0 0 -0.5pt hsl(0 0% 0% / 0.3), 1px 0 0 -0.5pt hsl(0 0% 0% / 0.3),
      inset 0 1.5pt 1.5pt -1.5pt hsl(0 0% 100% / 0.5), inset 0 -1.5pt 1.5pt -1.5pt hsl(0 0% 100% / 0.5) !important;
    --shadow-xs: var(--shadow-edges), 0 2px 16px hsl(0 0% 0% / 0.035);
    --shadow-s: var(--shadow-edges), 0 8px 48px 0 hsl(0 0% 0% / 0.25);
    --shadow-l: var(--shadow-edges), 0 18px 54px 0 hsl(0 0% 0% / 0.35);
    --shadow-surface: var(--shadow-edges), 0 4px 24px hsl(0 0% 0% / 0.05);
  }

  &.theme-dark {
    --blur-background: hsl(0 0% 20% / 0.5);
    --raised-background: linear-gradient(
      to bottom,
      color-mix(in oklch, var(--blur-background), white 3.5%),
      var(--blur-background) 25%,
      var(--blur-background) 75%,
      color-mix(in oklch, var(--blur-background), white 3.5%)
    );

    --shadow-edges:
      var(--shadow-extra), 0 0 0 0.5pt hsl(0 0% 0% / 0.07), -1px 0 0 -0.5pt hsl(0 0% 0% / 0.15), 1px 0 0 -0.5pt hsl(0 0% 0% / 0.15),
      inset 0px 1.5pt 1.5pt -1.5pt hsl(0 0% 100% / 0.25), inset 0px -1.5pt 1.5pt -1.5pt hsl(0 0% 100% / 0.25) !important;
    --shadow-xs: var(--shadow-edges);
    --shadow-s: inset 0 0 0 0.5pt hsl(0 0% 100% / 0.1), var(--shadow-edges), 0 8px 48px 0 hsl(0 0% 0% / 0.45);
    --shadow-l: inset 0 0 0 0.5pt hsl(0 0% 100% / 0.1), var(--shadow-edges), 0 18px 54px 0 hsl(0 0% 0% / 0.57), 0 0 1px 0 hsl(0 0% 0% / 0.8);
    --shadow-surface: var(--shadow-edges), inset 0 0 1px 1px hsl(0 0% 100% / 0.05), 0 8px 16px hsl(0 0% 0% / 0.2);
  }

  &:not(.is-mobile) {
    --tab-action-width: 36px;

    &.theme-light {
      --shadow-extra: inset 0 0 0 0.5pt hsl(0 0% 100% / 0.25);
    }
    &.theme-dark {
      --shadow-extra: inset 0 0 0 0.5pt hsl(0 0% 100% / 0.05);
    }
  }

  &.is-mobile {
    --titlebar-background: transparent;
    --titlebar-background-focused: transparent;

    --radius-s: calc(16px * var(--radius-modifier));
    --radius-m: calc(24px * var(--radius-modifier));
    --radius-l: calc(32px * var(--radius-modifier));
    --radius-xl: calc(40px * var(--radius-modifier));

    --input-radius: var(--radius-l);
    --input-height: 48px;
    --input-padding: 0 var(--side-padding);
  }

  &.is-phone {
    --nav-item-padding: calc(16px * var(--density-modifier)) var(--side-padding);
  }

  // Button
  button:where(:not(.clickable-icon, .ant-switch, .workspace-leaf-content:not([data-type="markdown"]) button, .copy-code-button)) {
    padding: 4px 12px;
  }
  &.is-phone button:where(:not(.clickable-icon, .ant-switch, .workspace-leaf-content:not([data-type="markdown"]) button, .copy-code-button)) {
    padding: 0 var(--side-padding);
  }
  &.is-tablet button:where(:not(.clickable-icon, .ant-switch, .workspace-leaf-content:not([data-type="markdown"]) button, .copy-code-button)) {
    padding: 4px var(--side-padding);
  }
  &:not(.is-mobile) {
    .clickable-icon {
      transition: var(--anim-duration-superfast);
      padding: 10px;
    }
    .clickable-icon:not([aria-disabled="true"]):hover,
    .clickable-icon.has-active-menu,
    .modal-header-button:hover,
    .search-input-container input {
      box-shadow: var(--shadow-xs);
      background: var(--raised-background);
    }
  }

  // Slider
  --slider-thumb-border-width: 0;
  --slider-thumb-y: -5px;
  --slider-thumb-height: 16px;
  --slider-thumb-width: 20px;
  --slider-thumb-radius: var(--toggle-thumb-radius);
  --slider-track-height: 6px;
  --slider-track-background: var(--background-modifier-border-hover);

  &.is-mobile {
    --slider-thumb-y: -9px;
    --slider-thumb-height: 24px;
    --slider-thumb-width: 37px;

    input[type="range"]::-webkit-slider-thumb:active {
      scale: 1.4;
    }
  }

  input[type="range"]::-webkit-slider-thumb {
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline) !important;
    box-shadow:
      0 1px 4px hsl(0 0% 0% / 0.075),
      0 1px 16px hsl(0 0% 0% / 0.1) !important;

    &:active {
      scale: 1.2;
      box-shadow:
        inset 1px 1px 2px -2px hsl(from var(--mono-100) h s l / 1),
        inset -1px -1px 2px -2px hsl(from var(--mono-100) h s l / 1),
        var(--shadow-xs) !important;
      background: var(--raised-background);
    }
  }

  // Toggle
  --toggle-border-width: 1.5px;
  --toggle-thumb-height: 13px;
  --toggle-thumb-width: 21px;
  --toggle-width: 36px;
  --toggle-s-border-width: var(--toggle-border-width);
  --toggle-s-thumb-height: var(--toggle-thumb-height);
  --toggle-s-thumb-width: var(--toggle-thumb-width);
  --toggle-s-width: var(--toggle-width);

  &.is-mobile {
    --toggle-border-width: 2px;
    --toggle-thumb-height: 24px;
    --toggle-thumb-width: 37px;
    --toggle-width: 68px;

    .checkbox-container {
      --interactive-accent: var(--color-green);
    }
  }

  .checkbox-container {
    box-shadow: none;

    &:not(:active) {
      overflow: hidden;
    }

    &::after {
      transition: var(--anim-duration-moderate) var(--anim-motion-baseline) !important;
      box-shadow:
        0 1px 4px hsl(0 0% 0% / 0.075),
        0 1px 16px hsl(0 0% 0% / 0.1);
    }
    &:active:after {
      --toggle-border-width: -2.5px;
      --toggle-thumb-height: 21px;
      --toggle-thumb-width: 35.5px;
      --toggle-s-border-width: var(--toggle-border-width);
      --toggle-s-thumb-height: var(--toggle-thumb-height);
      --toggle-s-thumb-width: var(--toggle-thumb-width);

      box-shadow:
        inset 1px 1px 2px -2px hsl(from var(--mono-100) h s l / 1),
        inset -1px -1px 2px -2px hsl(from var(--mono-100) h s l / 1),
        var(--shadow-xs);
      background: var(--raised-background);
    }
  }
  &.is-mobile .checkbox-container:active:after {
    --toggle-border-width: -6px;
    --toggle-thumb-height: 40px;
    --toggle-thumb-width: 59px;
    --toggle-s-border-width: var(--toggle-border-width);
    --toggle-s-thumb-height: var(--toggle-thumb-height);
    --toggle-s-thumb-width: var(--toggle-thumb-width);
  }

  // Dropdown
  &.is-mobile {
    --dropdown-padding-start: var(--side-padding);
  }

  select::focus-visible,
  .combobox-button::focus-visible,
  .dropdown::focus-visible {
    box-shadow: none;
  }

  // Search bar
  .search-input-container {
    --search-icon-size: var(--icon-xs);
    display: flex;
    align-items: center;
    overflow: visible;
    min-height: 32px;

    &::before {
      top: unset;
      inset-inline-start: 12px !important;
    }

    input {
      border: none;
      padding-inline-start: calc(12px + var(--search-icon-size) + 8px);
      min-height: inherit;
      border-radius: 100vh;
    }
  }
  &.is-mobile .search-input-container input {
    background-color: transparent;
  }

  // Ribbon
  .workspace-ribbon .sidebar-toggle-button .clickable-icon:hover,
  .workspace-ribbon .side-dock-actions .side-dock-ribbon-action:hover {
    box-shadow: none !important;
    background-color: transparent !important;
    color: var(--text-normal);
  }

  // Side panels
  &:not(.is-mobile) .mod-sidedock .workspace-tabs {
    .workspace-tab-header-container-inner {
      -webkit-app-region: no-drag;
      gap: 0px;
      transition: var(--anim-duration-moderate);
      border-radius: var(--clickable-icon-radius);
      padding: 4px;
      height: auto;
    }
    .workspace-tab-header-container-inner:hover {
      background-color: var(--background-modifier-hover);

      .workspace-tab-header.is-active {
        background: var(--raised-background);
        box-shadow: var(--shadow-xs);
      }
    }

    .workspace-tab-header {
      border-radius: var(--clickable-icon-radius);
      min-width: var(--tab-action-width);
    }
    .workspace-tab-header-inner {
      padding: 6px;
    }
    .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner {
      background-color: var(--background-modifier-hover);
    }
    .sidebar-toggle-button,
    .workspace-tab-header-inner {
      border-radius: var(--clickable-icon-radius);
      height: fit-content;
      z-index: 1;
    }

    .workspace-tab-header-status-container {
      margin-left: -8px;
    }
    .workspace-tab-header-status-icon,
    .workspace-tab-header-inner-close-button {
      --icon-size: 12px;
      color: var(--text-muted);
    }
  }

  // Panel actions
  &:not(.nav-action-center) .mod-sidedock .workspace-leaf-content .nav-header:first-child .nav-buttons-container {
    border-radius: var(--clickable-icon-radius);
    padding: 4px;
    box-shadow: var(--shadow-xs);
    background: var(--raised-background);
    gap: 0;

    .nav-action-button:hover:not([aria-disabled="true"]) {
      background-color: var(--background-modifier-hover);
      box-shadow: none;
    }
  }

  .mod-sidedock .workspace-tab-container,
  .mod-sidedock .workspace-leaf,
  .mod-sidedock .workspace-leaf-content {
    contain: size !important;
    overflow: visible;
  }

  // File explorer
  .tree-item-self.is-active {
    --nav-item-weight-active: calc(var(--font-weight) + var(--bold-modifier));
  }

  // Editor panel
  .markdown-source-view,
  .markdown-preview-view {
    transition: transform var(--anim-duration-slow) var(--anim-motion-baseline);
  }
  .workspace-leaf-content[data-mode="source"] > .view-content > .markdown-reading-view > .markdown-preview-view,
  .workspace-leaf-content[data-mode="preview"] > .view-content > .markdown-source-view {
    transform: scale(0.99);
    opacity: 0;
  }

  &:not(.tab-icon) .mod-sidedock .workspace-tabs:not(.mod-top) .workspace-tab-header-container:not(:hover) .workspace-tab-header-container-inner {
    gap: calc(8px * var(--density-modifier));
  }
}
