// Unfocused
body:is(.mod-macos, .adaptive-mode-off):not(.is-mobile):not(.is-focused):not(.reduce-contrast-change) {
  --workspace-background-translucent: var(--background-secondary);
  --modal-background: var(--background-secondary);
  --menu-background: var(--background-secondary);
  --raised-background: var(--background-modifier-hover);
  --shadow-xs: none;
  --shadow-s: none;
  --shadow-l: none;
  --shadow-surface: none;
  --tab-outline-color: transparent;

  .workspace-ribbon,
  .mod-sidedock > div,
  .modal.mod-settings .vertical-tab-header > div {
    opacity: 0.75;
  }
}

// macOS specific
body:is(.mod-macos, .adaptive-mode-off):not(.is-phone) {
  --tab-outline-color: transparent;

  .mod-root {
    background-color: var(--background-primary) !important;
  }
  .mod-root .workspace-tab-container {
    border-radius: 0;
    box-shadow: 0 calc(-1 * var(--tab-outline-width)) var(--tab-outline-color);
  }

  .modal.mod-settings .vertical-tab-header {
    background-color: var(--background-secondary);
  }
}
